<%= render "header"%>
<%= render "member_header"%>
<h1>My Network Information </h1>

<br/>

<p style="text-align: center">image will go here</p>

<div class="header row">
    <div class= "col">
        <p><strong>First Name</strong></p>
        <p class="border rounded border-1 border-dark p-1"><%= @contact.first_name %> </p>
    </div>
    <div class= "col">
        <p><strong>Last Name</strong></p>
        <p class="border rounded border-1 border-dark p-1"><%= @contact.last_name %> </p>
    </div>
    <div class= "col">
        <p><strong>Title</strong></p>
        <p class="border rounded border-1 border-dark p-1"><%= @contact.last_name %> </p>
    </div>
</div>

<br/>

<div class="header row">
    <div class= "col">
        <p><strong>Organization</strong></p>
        <p class="border rounded border-1 border-dark p-1"><%= @contact.organization %> </p>
    </div>
    <div class= "col">
        <p><strong>Link</strong></p>
        <p class="border rounded border-1 border-dark p-1"><%= @contact.link %> </p>
    </div>
    <div class= "col">
        <p><strong>Email</strong></p>
        <p class="border rounded border-1 border-dark p-1"><%= @contact.email %> </p>
    </div>
</div>

<br/>
<div class="header row">
    <div class = "col">
        <p><strong>Bio</strong></p>
        <p class="border rounded border-1 border-dark p-1"><%= @contact.bio %> </p>
    </div>
<div>

<p>Edit Network Information</p>