<%= render "header"%>

<h2>My Network Information </h1>
<br/>

<div class="form-member">
    <div class="form-member-header">
        <span></span>
        <% if @contact.in_network %>
            <strong class="in-network">In Network</strong>
        <% else %>
            <strong class="in-network">Not In Network</strong>
        <% end %>
    </div>

    <div class="form-member-col-container">
        <div class="form-member-col-image">
            <p>IMAGE HERE</p>
        </div>

        <div class="form-member-col-content">
            <strong>First Name: </strong>
            <span><%= @contact.first_name %></span><br/>

            <strong>Last Name: </strong>
            <span><%= @contact.last_name %></span><br/><br/>           

            <strong>Bio: </strong><br/>
            <p><%= @contact.bio %></p>

            <strong>Organization: </strong>
            <span><%= @contact.organization %></span><br/>
            
            <strong>Title: </strong>
            <span><%= @contact.title %></span><br/>

            <strong>Industries: </strong>
            <div style="padding-left: 20px;">
                <% @contact.industries.each do |industry| %>
                    <li><%= industry.industry_type %></li>
                <% end %>
            </div><br/>

            <strong>Email: </strong>
            <span><%= @contact.email %></span><br/>

            <strong>Link: </strong>
            <span><%= @contact.link %></span><br/><br/>
        </div>    
    </div>
    <div class="form-member-footer"><span style="float: right;"><%= link_to "Edit Network Information", edit_member_network_path(@contact), class: "btn btn-primary" %></span></div>
</div>
<br/>
