<%= render "header"%>
<%= render "member_header"%>

<br/>
<h2 class="text-center">Network Contacts</h2>


<div id="member-networks-table">
  <table style="width: 90%; margin-left: auto; margin-right: auto;">

    <tr>
      <th>Photo</th>
      <th>Name</th>
      <th>Title</th>
      <th>Organization</th>
      <th>Industry</th>
      <th>View </th>
    </tr>
    <% @contacts.each do |contact| %>
    <tr>
      <td>pic</td>
      <td><%=contact.first_name + ' ' + contact.last_name%></td>
      <td><%= contact.title %></td>
      <td><%= contact.organization %></td>
      <td>industry</td>
      <td><%= link_to("View", member_contact_path(contact)) %></td>

    </tr>
    <% end %>
  </table>
</div>
<br/>
<br/>