<%= render "header"%>

<h2 class="text-left">Network Contacts</h2>
<br/>

<div class="search-form">
  <%= form_with url: member_contacts_path, method: :get, local: true do %>
    <br/>
    <div class = "header row">
      <div class ="col">
        <strong><%= label_tag :first_name, "First Name:" %></strong><br/>
        <%= text_field_tag :first_name, params[:first_name] %>
      </div>
      <div class="col">
        <strong><%= label_tag :last_name, "Last Name:" %></strong><br/>
        <%= text_field_tag :last_name, params[:last_name] %>
      </div>
      <div class="col">
        <strong><%= label_tag :organization, "Organization:" %></strong><br/>
        <%= select_tag :organization, options_for_select(@organizations, params[:organization]), include_blank: true, class: "select-member" %>
      </div>
      <div class="col">
        <strong><%= label_tag :industry, "Industry:" %></strong><br/>
        <%= select_tag :industry, options_for_select(@industries, params[:industry]), include_blank: true, class: "select-member" %>
      </div>
      <div class="d-flex justify-content-end mr-2">
        <%= submit_tag "Search", class:"btn btn-primary"%>
      </div>
    </div>
    <br/>
  <% end %>
</div>

<br/>
<div id="member-networks-table">
  <table class="table-member">

    <tr>
      <th style="width: 8%">Photo</th>
      <th style="width: 15%">Name</th>
      <th style="width: 19%">Organization</th>
      <th style="width: 15%">Title</th>
      <th style="width: 19%">Industries</th>
      <th style="width: 17%">Email</th>
      <th style="width: 7%">View </th>
    </tr>
    <% @contacts.each do |contact| %>
    <tr>
      <td>
        <% if contact.pfp.present? %>
          <%= image_tag "data:image/jpeg;base64,#{Base64.encode64(contact.pfp)}" %>
        <% end %>
      </td>
      <td><%=contact.first_name + ' ' + contact.last_name%></td>
      <td><%= contact.organization %></td>
      <td><%= contact.title %></td>
      <td>
        <ul>
          <% contact.industries.each do |industry| %>
            <li><%= industry.industry_type %></li>
          <% end %>
        </ul>
      </td>
      <td><%= contact.email %></td>
      <td><%= link_to("View", member_contact_path(contact)) %></td>

    </tr>
    <% end %>
  </table>
</div>
<br/>
<br/>