<%= render "header"%>

<h2 class="text-left"><%= @contact.first_name + ' ' + @contact.last_name %> </h2>
<br/>

<div class="form-member">
    <div class="form-member-header">
        <%= link_to "< Back To Network Contacts", member_contacts_path, class:"ml-3 btn btn-secondary" %>
        <% if @contact.in_network %>
            <strong class="in-network">In Network</strong>
        <% else %>
            <strong class="in-network">Not In Network</strong>
        <% end %>
    </div>

    <div class="form-member-col-container">
        <div class="form-member-col-image">
            <p>IMAGE HERE</p>
        </div>

        <div class="form-member-col-content">
            <h3><%= @contact.first_name + ' ' + @contact.last_name %></h3>

            <strong>Bio: </strong><br/>
            <p><%= @contact.bio %></p>

            <strong>Organization: </strong>
            <span><%= @contact.organization %></span><br/>
            
            <strong>Title: </strong>
            <span><%= @contact.title %></span><br/>

            <strong>Industries: </strong>
            <div style="padding-left: 20px;">
                <% @contact.industries.each do |industry| %>
                    <li><%= industry.industry_type %></li>
                <% end %>
            </div><br/>

            <strong>Email: </strong>
            <span><%= @contact.email %></span><br/>

            <strong>Link: </strong>
            <span><%= @contact.link %></span><br/>
        </div>    
    </div>
</div>
<br/>
