<!DOCTYPE html>
<html>
<head>
  <title>Media Gallery</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>
  <div class="container mt-5">
    <h2 class="display-4 text-center">Media Gallery</h2>

    <div class="col">
      <% if @images.any? %>
        <div class="row">
          <div class="image-gallery">
            <% @images.each do |image| %>
              <div class="image-container">
                <%= image_tag image.variant(resize_to_fit: [nil, 300]), alt: "Image", class: "event-image" %>
              </div>
            <% end %>
          </div>
        </div>
      <% else %>
        <p>No images available!</p>
      <% end %>
    </div>

    <br/>
    <div class="area">
      <p class="mt-4 text-center">
        Please view some images from our recent events!
      </p>
    </div>
    <br/>
    <br/>
  </div>
</body>
</html>
