<div class="form-member-col-container">
    <div class="form-member-col-image">
      <div class="header row">
        <div class="col">
          <p><strong>Event Images:</strong></p>
          <% images = EventImage.where(event_id: event.id) %>
          <% if images.any? %>
            <div class="row">
              <div class="image-gallery">
                <% event.images.each do |image| %>
                  <div class="image-container">
                    <%=  image_tag image.variant(resize_to_fit: [nil, 300]), alt: "Image", class: "event-image" %>
                  </div>
                <% end %>
              </div>
            </div>
          <% else %>
            <p>No images available for this event.</p>
          <% end %>
        </div>
      </div>
    </div>

    <div class="form-member-col-content">
        <strong>Name: </strong>
        <span><%= event.name %></span><br/>

        <strong>Date: </strong>
        <span><%= event.date.strftime("%m/%d/%y %I:%M %p")  %></span><br/>

        <strong>Location: </strong>
        <span><%= event.location %></span><br/>

        <strong>Description: </strong><br/>
        <p><%= event.description %></p>          
        
        <strong>Virtual: </strong>
        <span><%= event.virtual ? "Yes" : "No" %></span><br/>

        <strong>Published: </strong>
        <span><%= event.published ? "Yes" : "No" %></span><br/><br/>

        <% if defined?(event.rsvp_id) && !event.rsvp_id.blank? %>
          <span style="background-color: lightgreen; padding: 5px;"><%= link_to("RSVP Form", show_rsvp_form_event_path(event)) %></span><br/>
        <% else %>
          <span style="background-color: #ffc6c4; padding: 5px;"><%= link_to("RSVP Form", show_rsvp_form_event_path(event)) %></span><br/>
        <% end %>

        <% if defined?(event.feedback_id) && !event.feedback_id.blank? %>
          <span style="background-color: lightgreen; padding: 5px;"><%= link_to("Feedback Form", show_feedback_form_event_path(event)) %></span><br/>
        <% else %>
          <span style="background-color: #ffc6c4; padding: 5px;"><%= link_to("Feedback Form", show_feedback_form_event_path(event)) %></span><br/>
        <% end %>
    </div>    
</div>