<div id="<%= dom_id event %>">
  <div class="border rounded border-1 border-dark p-1" style="width: 90%; margin-left: auto; margin-right: auto;">
    <div class="header row">
      <div class="col">
        <p><strong>Name:</strong></p>
        <p class="border rounded border-1 border-dark p-1">
          <%= event.name %>
          </p>
      </div>

      <div class="col">
        <p><strong>Date:</strong></p>
        <p class="border rounded border-1 border-dark p-1">
          <%= event.date.strftime("%m/%d/%y %I:%M %p")  %>
        </p>
      </div>

      <div class="col">
        <p><strong>Location:</strong></p>
        <p class="border rounded border-1 border-dark p-1">
          <%= event.location %>
          </p>
      </div>

    </div>

    <br/>
    <div class="header row">
      <div class="col">
          <p><strong>RSVP Link:</strong></p>
          <p class="border rounded border-1 border-dark p-1">
            <%= event.rsvp_link %>
            </p>
      </div>

      <div class="col">
          <p><strong>Feedback Link:</strong></p>
          <p class="border rounded border-1 border-dark p-1">
            <%= event.feedback_link %>
            </p>
      </div>
    </div>

    <br/>
    <div class="header row">
      <div class="col">
        <p><strong>Description:</strong></p>
        <p class="border rounded border-1 border-dark p-1">
          <%= event.description %>
        </p>
      </div>
    </div>

    <br/>
    <!-- Display images related to the event -->
    <div class="header row">
      <div class="col">
        <p><strong>Event Images:</strong></p>
        <% images = EventImage.where(event_id: event.id) %>
        <% if images.any? %>
          <div class="row">
            <% images.each do |image| %>
              <div class="col-4">
                <div class="border rounded border-1 border-dark p-1 mb-2">
                  <img src="data:image/jpeg;base64,<%= Base64.encode64(image.picture) %>" alt="Event Image" class="img-fluid rounded" />
                </div>
              </div>
            <% end %>
          </div>
        <% else %>
          <p>No images available for this event.</p>
        <% end %>
      </div>
    </div>
  </div>
</div>

