<div id="<%= dom_id event %>">
<div id="events-table">
<table style="width: 80%; margin-left: auto; margin-right: auto;">

  <tr>
    <th>Name</th>
    <th>Date</th>
    <th>Description</th>
    <th>Location</th>
    <th>RSVP Link</th>
    <th>Feedback Link</th>
  </tr>
  <tr>
    <td><%= event.name %></td>
    <td><%= event.date.strftime("%m/%d/%y %I:%M %p") %></td>
    <td><%= event.description %></td>
    <td><%= event.location %></td>
    <td><%= event.rsvp_link %></td>
    <td><%= event.feedback_link %></td>
  </tr>
</table>
</div>

</div>
