<%= form_with(model: event, local:true) do |form| %>
  <% if event.errors.any? %>
    <div style="color: red">
      <h2 class="ml-2"><%= pluralize(event.errors.count, "error") %> prohibited this event from being saved:</h2>

      <ul>
        <% event.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>   

  <div class="form-member-col-container">
    <div class="form-member-col-image">
        <p><strong>Event Images:</strong></p>
        <% images = EventImage.where(event_id: event.id) %>
        <% if images.any? %>
          <div class="row">
            <% images.each do |image| %>
              <div class="col-4">
                <div class="border rounded border-1 border-dark p-1 mb-2">
                  <img src="data:image/jpeg;base64,<%= Base64.encode64(image.picture) %>" alt="Event Image" class="img-fluid rounded" />
                </div>
              </div>
            <% end %>
          </div>
        <% end %>

        <strong><%= form.label :images %></strong>
        <span><%= form.file_field :images, multiple: true, class: 'form-control' %></span><br/>
    </div>

    <div class="form-member-col-content">
      <strong><%= form.label :name, style: "display: block" %></strong>
      <span><%= form.text_field :name, class: "full-width"%></span><br/>

      <strong><%= form.label :date, style: "display: block" %></strong>
      <span><%= form.datetime_select(:date, 
          default: Time.current.in_time_zone('Central Time (US & Canada)'), 
          class: 'form-control', 
          minute_step: 5, 
          start_year: Date.current.year - 5, 
          end_year: Date.current.year + 10) %>
      </span><br/>

      <strong><%= form.label :location, style: "display: block" %></strong>
      <span><%= form.text_field :location, class: "full-width"%></span><br/>     
      
      <strong><%= form.label :virtual, style:"display: block"%></strong>
      <span><%= form.check_box :virtual %></span><br/>

      <strong><%= form.label :published, style:"display: block"%></strong>
      <span><%= form.check_box :published %></span><br/>

      <strong><%= form.label :description, style: "display: block"%></strong>
      <span><%= form.text_area :description, style:"width: 100%" %></span><br/><br/><br/>   
    </div>    

    <div class="form-member-footer" style=" width: 100%;">
      <div class="d-flex justify-content-end mr-2">
          <%= form.submit class: "btn btn-primary"%>
      </div>
    </div>   
  </div>
<% end %>
