<%= form_with(model: event, local:true) do |form| %>
  <% if event.errors.any? %>
    <div style="color: red">
      <h2 class="ml-2"><%= pluralize(event.errors.count, "error") %> prohibited this event from being saved:</h2>

      <ul>
        <% event.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

<div class="form" >
  <br/>
  <div class="header row">
    <div class="col">
      <strong><%= form.label :name, style: "display: block" %></strong>
      <%= form.text_field :name, class: "full-width"%>
    </div>

    <div class="col">
      <strong><%= form.label :date, style: "display: block" %></strong>
      <div class="input-group">
        <%= form.datetime_select(:date, 
          default: Time.current.in_time_zone('Central Time (US & Canada)'), 
          class: 'form-control', 
          minute_step: 5, 
          start_year: Date.current.year - 5, 
          end_year: Date.current.year + 10) %>
      </div>
    </div>

    <div class="col">
      <strong><%= form.label :location, style: "display: block" %></strong>
      <%= form.text_field :location, class: "full-width"%>
    </div>

    
  </div>

  <br/>
  <div class="header row">
    <div class="col field">
      <strong><%= form.label :virtual, style:"display: block"%></strong>
      <%= form.check_box :virtual %>
    </div>

    <div class="col field">
      <strong><%= form.label :published, style:"display: block"%></strong>
      <%= form.check_box :published %>
    </div>
  </div>

  <br/>
  <div class="header row">
    <div class="col">
      <strong><%= form.label :description, style: "display: block"%></strong>
      <%= form.text_area :description, style:"width: 100%" %>
    </div>
  </div>

  <div class="header row">
      <div class="col">
        <p><strong>Event Images:</strong></p>
        <% images = EventImage.where(event_id: event.id) %>
        <% if images.any? %>
          <div class="row">
            <% images.each do |image| %>
              <div class="col-4">
                <div class="border rounded border-1 border-dark p-1 mb-2">
                  <img src="data:image/jpeg;base64,<%= Base64.encode64(image.picture) %>" alt="Event Image" class="img-fluid rounded" />
                </div>
              </div>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
  <div class="header row">
    <%= form.label :images %>
    <%= form.file_field :images, multiple: true, class: 'form-control' %>
  </div>

  <br/>
  <div class="d-flex justify-content-end mr-2">
      <%= form.submit class: "btn btn-primary"%>
  </div>
  <br/>
<% end %>
</div>
