<% if form_exists %>

<div>
  <div class="border rounded border-1 border-dark p-1" style="width: 80%; margin-left: auto; margin-right: auto;">
    <div class="header row">
      <div class="col">
        <h2 style="text-align: center; word-wrap: break-word; overflow: hidden;">RSVP Form for <%= event.name %></h2>
        <p><strong>Responses: <%= num_responses %></strong></p>
        <p><%= link_to("Submission Form", form_submission_link) %></p>
        <p><%= link_to("Edit In Google Forms", form_edit_link) %></p>
        <p><%= link_to("Delete Form", delete_rsvp_form_event_path(event)) %></p>    
      </div>
    </div>
  </div>
</div>

<% else %>

<div>
  <div class="border rounded border-1 border-dark p-1" style="width: 60%; margin-left: auto; margin-right: auto;">
    <div class="header row">
      <div class="col">
        <h2 style="text-align: center; color: red; word-wrap: break-word; overflow: hidden;">Form Does Not Exist</h2>
        <p><%= link_to("Create Form", create_form_event_path(event)) %></p>
      </div>
    </div>
  </div>
</div>

<% end %>


<%
=begin%>
 <h2>Responses: <%= @num_responses %></h2>

<section><%= link_to_unless(@form_exists, "Create Form", create_form_event_path(@event)) %></section><br/>

<% if @form_exists %>
	<section><%= @form_title %></section>
	<section>
		<%= link_to_if(@form_exists, "Submission Form", @form_submission_link) %><br/>
		<%= link_to_if(@form_exists, "Edit In Google Forms", @form_edit_link) %><br/>
		<%= link_to_if(@form_exists, "Delete Form", delete_form_event_path(@event)) %>		
	</section>
<% end %>  
<%
=end%>
