<%= render "header"%>
<div>
    <h2 class="title-page">Delete Event</h2>
    <%= link_to("Back to Home", events_path, :class => 'back-link ml-2')%>
    <%= form_for(@event, method: 'delete') do |f| %>
    
        <br/>
        <h3 class="text-danger ml-2">Are you sure you want to permanently delete this event?</h3>
        <strong><p class="ml-2">Event Name: </strong><%= @event.name%></p>
    
        <div class="form-buttons ml-2">
            <%= f.submit "Delete Event", class: "btn btn-danger" %>
        </div>
    
      <% end %>
</div>

