<%= render "header"%>

<h2>All Events</h2>

<div class="search-form">
  <%= form_with url: events_path, method: :get, local: true do %>
    <br/>
    <div class = "header row">
      <div class ="col">
        <strong><%= label_tag :name, "Event Name:" %></strong><br/>
        <%= text_field_tag :name, params[:name] %>
      </div>
      <div class="col">
        <strong><%= label_tag :in_network, "Published:" %></strong><br/>
        <%= select_tag :published, options_for_select([['All', ''], ['Yes', true], ['No', false]], params[:published]), include_blank: true, class: "select-member" %>
      </div>

      <div class="col">
        <strong><%= label_tag :date, "Event Date:" %></strong><br/>
        <%= date_field_tag :date, params[:date], class: "form-control" %>
      </div>

      <div class="d-flex justify-content-end mr-2">
        <%= submit_tag "Search", class:"btn btn-primary"%>
      </div>
    </div>
    <br/>
  <% end %>
</div>
<br/>


<div class="d-flex justify-content-end mr-2" style="padding-top: 15px; padding-bottom: 15px;">
  <%= link_to 'New Event', new_event_path, class:" btn btn-primary" %>
</div>

<div id="member-networks-table">
    <table class="table-member">
      <tr>
        <th style="width: 8%">Date</th>
        <th style="width: 15%">Name</th>
        <th style="width: 15%">Location</th>
        <th style="width: 8%">Virtual</th>
        <th style="width: 10%">Published</th>
        <th style="width: 10%">RSVP</th>
        <th style="width: 10%">Feedback</th>
        <th style="width: 8%">View</th>
        <th style="width: 8%">Edit</th>
        <th style="width: 8%">Delete</th>
      </tr>
      <% @events.each do |event| %>
      <tr>
        <td><%= event.date.strftime("%m/%d/%y %I:%M %p") %></td>
        <td><%= event.name %></td>
        <td><%= event.location %></td>
        <td><%= event.virtual ? "Yes" : "No" %></td>
        <td><%= event.published ? "Yes" : "No" %></td>
        <% if defined?(event.rsvp_id) && !event.rsvp_id.blank? %>
          <td style="background-color: lightgreen;"><%= link_to("RSVP Form", show_rsvp_form_event_path(event)) %></td>
        <% else %>
          <td style="background-color: #ffc6c4;"><%= link_to("RSVP Form", show_rsvp_form_event_path(event)) %></td>
        <% end %>
        <% if defined?(event.feedback_id) && !event.feedback_id.blank? %>
          <td style="background-color: lightgreen;"><%= link_to("Feedback Form", show_feedback_form_event_path(event)) %></td>
        <% else %>
          <td style="background-color: #ffc6c4;"><%= link_to("Feedback Form", show_feedback_form_event_path(event)) %></td>
        <% end %>
        <td><%= link_to("View", event_path(event)) %></td>
        <td><%= link_to("Edit", edit_event_path(event)) %></td>
        <td><%= link_to("Delete", delete_event_path(event)) %> </td>
      </tr>
      <% end %>      
    </table>
</div>
<br/>