<div>
  <%= link_to "Back to events", events_path %>
</div>

<h1>RSVP Form</h1>

<h2>Responses: <%= @num_responses %></h2>

<section><%= link_to_unless(@form_exists, "Create Form", create_form_event_path(@event)) %></section><br/>

<% if @form_exists %>
	<section><%= @form_title %></section>
	<section>
		<%= link_to_if(@form_exists, "Submission Form", @form_submission_link) %><br/>
		<%= link_to_if(@form_exists, "Edit In Google Forms", edit_form_event_path) %><br/>
		<%= link_to_if(@form_exists, "Delete Form", @form_edit_link) %>		
	</section>
<% end %>
