<%= render "header"%>

<%= render "adminheader"%>
<br/>
<div class="text-center">
  <h2>View Event</h2>
</div>
<p class="ml-2" style="color: green"><%= notice %></p>
<div class="ml-2">
  <%= link_to "Back to events", events_path, class:"btn btn-secondary" %>
  <br/>
</div>
<br/>

<%= render @event %>

<br/>



