<%= render "header"%>

<h2>View Event</h2>
<br/>

<div class="form-member">
  <div class="form-member-header">
      <%= link_to "< Back To Events", events_path, class:"ml-3 btn btn-secondary" %>
      <span class="ml-2" style="color: darkgreen; margin-top: auto; margin-bottom: auto; padding-right: 10px;"><%= notice %></span>
  </div>

  <%= render @event %>

  <div class="form-member-footer">
    <span style="float: right; margin-left: 10px;"><%= link_to "Delete", delete_event_path(@event), class:"btn btn-danger" %></span>
    <span style="float: right;"><%= link_to "Edit", edit_event_path(@event), class: "btn btn-primary" %></span>
  </div>
</div>
<br/>
