<div class="form-member-col-container">
    <div class="form-member-col-content-main" id="<%= dom_id request %>">

          <strong>Request Made By:</strong>
          <span><%= @member.full_name %></span><br/>

        

          <strong>Status:</strong>
          <span><%= request.status.humanize %></span><br/>



          <strong>Request Type:</strong>
          <span><%= request.request_type.humanize %></span><br/>



          <strong>Additional Comments:</strong><br/>
          <span><%= request.description %></span><br/>


    </div>
</div>
