<div id="<%= dom_id request %>">
  

  <p>
    <strong>Request Made By:</strong>
    <%= @member.full_name %>
  </p>
  
  <p>
    <strong>Status:</strong>
    <%= request.status.humanize %>
  </p>

  <p>
    <strong>Request Type:</strong>
    <%= request.request_type.humanize %>
  </p>

  <p>
    <strong>Additional Comments:</strong>
    <%= request.description %>
  </p>

</div>
