<%= render "events/header"%>

<h2>Requests</h2>
<br/>

<div class="search-form">
  <%= form_with url: requests_path, method: :get, local: true do %>
    <br/>
    <div class = "header row">
      <div class ="col">
        <strong><%= label_tag :request_type, 'Request Type' %></strong><br/>
        <%= select_tag :request_type, options_for_select(Request.request_types.keys.map { |type| [type.humanize, type] }, params[:request_type]), include_blank: true, class: "select-member" %>
      </div>
      <div class="col">
        <strong><%= label_tag :status, 'Status' %></strong><br/>
        <%= select_tag :status, options_for_select(Request.statuses.keys.map { |status| [status.humanize, status] }, params[:status]), include_blank: true, class: "select-member" %>
      </div>
      <div class="col"></div><div class="col"></div>
      <div class="d-flex justify-content-end mr-2">
        <%= submit_tag "Filter", class:"btn btn-primary"%>
      </div>
    </div>
    <br/>
  <% end %>
</div>

<br/>
<div id="member-networks-table">
  <table class="table-member">

    <tr>
        <th style="width: 25%;">Name</th>
        <th style="width: 50%;">Request Type</th>
        <th style="width: 15%;">Status</th>
        <th style="width: 10%;">Delete</th>
    </tr>
    <% @requests.each do |request| %>
    <% member = @members.find(request.member_id) %>
    <tr>
      <td><%= link_to member.full_name, request %></td>
      <td><%= request.request_type.humanize %></td>
      <% if request.status.humanize == "Accepted"  %>
        <td style="background-color: lightgreen;"><%= request.status.humanize %></td>
      <% elsif request.status.humanize == "Rejected" %>
        <td style="background-color: #ffc6c4;"><%= request.status.humanize %></td>
      <% elsif request.status.humanize == "Unsettled" %>
        <td style="background-color: #f2f28d;"><%= request.status.humanize %></td>
      <% end %>
      <td><%= button_to "Delete", request, method: :delete, class: "btn btn-danger" %></td>
    </tr>
    <% end %>
  </table>
</div>
<br/>