<div style='margin-left: 5%'>
  <h1>Network Addition Request</h1>

  <%= form_with(model: @request, local: true, url: create_network_addition_request_path) do |form| %>
    <% if @request.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@request.errors.count, "error") %> prohibited this request from being saved:</h2>
        <ul>
          <% @request.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div class="row">
      <div class="col-md-8">
        <div class="field">
        <%= form.label :first_name %>
        <%= form.text_field :first_name, value: @contact.first_name %>
        </div>
        
        <div class="field">
        <%= form.label :last_name %>
        <%= form.text_field :last_name, value: @contact.last_name %>
        </div>
        
        <div class="field">
        <%= form.label :organization %>
        <%= form.text_field :organization, value: @contact.organization %>
        </div>
        
        <div class="field">
        <%= form.label :title %>
        <%= form.text_field :title, value: @contact.title %>
        </div>
        
        <div class="field">
        <%= form.label :email %>
        <%= form.email_field :email, value: @contact.email %>
        </div>
        
        <div class="field">
        <%= form.label :link %>
        <%= form.text_field :link, value: @contact.link %>
        </div>
        
        <div class="field">
        <%= form.label :bio %>
        <%= form.text_area :bio, value: @contact.bio %>
        </div>
        
    <!-- You can add any additional fields as needed -->
    
    </div>

    <div class="actions">
      <%= form.submit 'Submit Network Addition Request' %>
    </div>
  <% end %>

</div>
