<%= render "member_contacts/header"%>

<h2>Request Network Addition</h2>
<br/>

<div class="form-member">
    <div class="form-member-header">
        <%= link_to "< Back To My Account Info", member_dashboard_path, class:"ml-3 btn btn-secondary" %>
    </div>

    <div class="form-member-col-container">
        <div class="form-member-col-content-main">
          <%= form_with(model: @request, local: true, url: create_network_addition_request_path) do |form| %>
              <% if @request.errors.any? %>
                <div id="error_explanation">
                  <h2><%= pluralize(@request.errors.count, "error") %> prohibited this request from being saved:</h2>
                  <ul>
                    <% @request.errors.full_messages.each do |message| %>
                      <li><%= message %></li>
                    <% end %>
                  </ul>
                </div>
              <% end %>

              <strong><%= form.label :first_name, style: "display: block" %></strong>
              <span><%= form.text_field :first_name, value: @contact.first_name, style:"width: 100%" %></span><br/>

              <strong><%= form.label :last_name, style: "display: block" %></strong>
              <span><%= form.text_field :last_name, value: @contact.last_name, style:"width: 100%" %></span><br/>
              
              <strong><%= form.label :title, style: "display: block" %></strong>
              <span><%= form.text_field :title, value: @contact.title, style:"width: 100%" %></span><br/>

              <strong><%= form.label :organization, style: "display: block" %></strong>
              <span><%= form.text_field :organization, value: @contact.organization, style:"width: 100%" %></span><br/>
              
              <strong><%= form.label :link, style: "display: block" %></strong>
              <span><%= form.text_field :link, value: @contact.link, style:"width: 100%" %></span><br/>                 

              <strong><%= form.label :email, style: "display: block" %></strong>
              <span><%= form.email_field :email, value: @contact.email, style:"width: 100%" %></span><br/>

              <strong><%= form.label :bio, style: "display: block" %></strong>
              <span><%= form.text_area :bio, value: @contact.bio, style:"width: 100%" %></span><br/><br/><br/>
                  
              <!-- You can add any additional fields as needed -->
              
              <div class="form-member-footer" style="margin: -10px;">
                <div class="d-flex justify-content-end mr-2">
                  <%= form.submit 'Submit Network Addition Request', class: "btn btn-primary" %>
                </div>
              </div>
            <% end %>             
        </div>
    </div>
</div>
<br/>