<%= render "events/header"%>

<h2>View Request</h2>
<br/>

<div class="form-member">
  <div class="form-member-header">
      <%= link_to "< Back To Requests", requests_path, class:"ml-3 btn btn-secondary" %>
      <span class="ml-2" style="color: darkgreen; margin-top: auto; margin-bottom: auto; padding-right: 10px;"><%= notice %></span>
  </div>

  <%= render @request %>

  <div class="form-member-footer">
    <span style="float: right; margin-left: 10px;"><%= button_to "Destroy this request", @request, method: :delete, class:"btn btn-danger" %></span>
    <% if @request.status == "unsettled" %>
      <span style="float: right; margin-left: 10px;"><%= button_to 'Deny', deny_request_path(@request), method: :post, data: { confirm: 'Are you sure you want to deny this request?' }, class: "btn btn-primary" %></span>
      <span style="float: right;"><%= button_to 'Approve', approve_request_path(@request), method: :post, data: { confirm: 'Are you sure you want to approve this request?' }, class: "btn btn-primary" %></span>
    <% end %>
  </div>    
</div>
<br/>