

<%= render "events/header"%>

<%= render "events/adminheader"%>

<div style='margin-left: 5%'>
    <h2>Delete Contact From Network</h2>
    <%= link_to("Back to Home", contacts_path)%>
    <%= form_for(@contact, method: 'delete') do |f| %>
    
        <br/>
        <h3 >Are you sure you want to permanently delete this contact?</h3>
        <strong><p >Contact Name: </strong><%= @contact.first_name + ' ' + @contact.last_name%></p>
    
        <div >
            <%= f.submit "Delete Contact" %>
        </div>
    
      <% end %>
</div>