
<%= render "events/header"%>

<h2>The BOLD Network</h2>

<div class="d-flex justify-content-end mr-2" style="padding-top: 15px; padding-bottom: 15px;">
  <%= link_to 'New Contact', new_contact_path, class:" btn btn-primary" %>
</div>

<div id="member-networks-table">
    <table class="table-member">
      <tr>
        <th style="width: 15%">Name</th>
        <th style="width: 18%">Organization</th>
        <th style="width: 15%">Title</th>
        <th style="width: 20%">Email</th>
        <th style="width: 10%">In Network</th>
        <th style="width: 7%">View</th>
        <th style="width: 7%">Edit</th>
        <th style="width: 8%">Delete</th>
      </tr>
        <% @contacts.each do |contact| %>
        <tr>
          <td>
              <% if contact.pfp.present? %>                
                <%= image_tag contact.pfp.variant(resize_to_fill: [100, 100]) %>
              <% end %>
          </td>
          <td>
                <%= contact.first_name %>  <%=contact.last_name%>
          </td>
          <td><%= contact.organization %></td>
          <td><%= contact.title %></td>
          <td><%= contact.email %></td>
          <td><%= contact.in_network ? "Yes" : "No" %>
          <td><%= link_to("View", contact_path(contact)) %></td>
          <td><%= link_to("Edit", edit_contact_path(contact)) %></td>
          <td><%= link_to("Delete", delete_contact_path(contact)) %></td>
        </tr>
        <% end %>    
    </table>
</div>
<br/>