
<%= render "events/header"%>

<h2>The BOLD Network</h2>

<div class="d-flex justify-content-end mr-2" style="padding-top: 15px; padding-bottom: 15px;">
  <%= link_to 'New Contact', new_contact_path, class:" btn btn-primary" %>
</div>

<div class="search-form">
  <%= form_with url: contacts_path, method: :get, local: true do %>
    <br/>
    <div class = "header row">
      <div class ="col">
        <strong><%= label_tag :first_name, "First Name:" %></strong><br/>
        <%= text_field_tag :first_name, params[:first_name] %>
      </div>
      <div class="col">
        <strong><%= label_tag :last_name, "Last Name:" %></strong><br/>
        <%= text_field_tag :last_name, params[:last_name] %>
      </div>
      <div class="col">
        <strong><%= label_tag :organization, "Organization:" %></strong><br/>
        <%= select_tag :organization, options_for_select(@organizations, params[:organization]), include_blank: true, class: "select-member" %>
      </div>
      <div class="col">
        <strong><%= label_tag :industry, "Industry:" %></strong><br/>
        <%= select_tag :industry, options_for_select(@industries, params[:industry]), include_blank: true, class: "select-member" %>
      </div>
      <div class="col">
        <strong><%= label_tag :in_network, "In Network:" %></strong><br/>
        <%= select_tag :in_network, options_for_select([['All', ''], ['Yes', true], ['No', false]], params[:in_network]), include_blank: true, class: "select-member" %>
      </div>

      <div class="d-flex justify-content-end mr-2">
        <%= submit_tag "Search", class:"btn btn-primary"%>
      </div>
    </div>
    <br/>
  <% end %>
</div>
<br/>

<div id="member-networks-table">
    <table class="table-member">
      <tr>
        <th style="width: 15%">Name</th>
        <th style="width: 18%">Organization</th>
        <th style="width: 15%">Title</th>
        <th style="width: 20%">Email</th>
        <th style="width: 10%">In Network</th>
        <th style="width: 7%">View</th>
        <th style="width: 7%">Edit</th>
        <th style="width: 8%">Delete</th>
      </tr>
        <% @contacts.each do |contact| %>
        <tr>
          <td>
                <%= contact.first_name %>  <%=contact.last_name%>
          </td>
          <td><%= contact.organization %></td>
          <td><%= contact.title %></td>
          <td><%= contact.email %></td>
          <td><%= contact.in_network ? "Yes" : "No" %>
          <td><%= link_to("View", contact_path(contact)) %></td>
          <td><%= link_to("Edit", edit_contact_path(contact)) %></td>
          <td><%= link_to("Delete", delete_contact_path(contact)) %></td>
        </tr>
        <% end %>    
    </table>
</div>
<br/>