<%= render "events/header"%>

<h2><%= @contact.first_name%> <%= @contact.last_name%></h2>
<br/>

<div class="form-member">
    <div class="form-member-header">
        <%= link_to "< Back To BOLD Network", contacts_path, class:"ml-3 btn btn-secondary" %>
    </div>

    <div class="form-member-col-container">
        <div class="form-member-col-image">
            <p>IMAGE HERE</p>
        </div>

        <div class="form-member-col-content">
            <strong>First Name: </strong>
            <span><%= @contact.first_name %></span><br/>

            <strong>Last Name: </strong>
            <span><%= @contact.last_name %></span><br/>

            <strong>In Network: </strong>
            <span><%= @contact.in_network ? "Yes" : "No" %></span><br/>

            <strong>Bio: </strong><br/>
            <p><%= @contact.bio %></p>

            <strong>Organization: </strong>
            <span><%= @contact.organization %></span><br/>
            
            <strong>Title: </strong>
            <span><%= @contact.title %></span><br/>

            <strong>Industries: </strong>
            <div style="padding-left: 20px;">
                <% @contact.industries.each do |industry| %>
                    <li><%= industry.industry_type %></li>
                <% end %>
            </div><br/>

            <strong>Email: </strong>
            <span><%= @contact.email %></span><br/>

            <strong>Link: </strong>
            <span><%= @contact.link %></span><br/>
        </div>    
    </div>

    <div class="form-member-footer">
        <span style="margin-left: 10px; float: right;"><%= link_to("Delete", delete_contact_path(@contact), class:"btn btn-danger ml-2") %></span>
        <span style="float: right;"><%= link_to 'Edit', edit_contact_path(@contact), class:"btn btn-primary"  %></span>
    </div>    
</div>
<br/>