<h1>RSVP Form</h1>

<section>Responses: <%= @num_responses %></section>
<%
=begin%>
 <section><%= link_to_unless(@form_exists, "Create Form", create_form_form_path(2)) %></section> 
<%
=end%>
<section><%= link_to_unless(@form_exists, "Create Form", {:controller => "forms", action: :create_form}) %></section>
<%
=begin%>
 TODO: replace 2 with Event id 
<%
=end%>

<% if @form_exists %>
	<section><%= @form_title %></section>
	<section>
		<%= link_to_if(@form_exists, "Submission Form", @form_submission_link) %><br/>
		<%= link_to_if(@form_exists, "Edit In Google Forms", {:controller => "forms", action: :edit_form}) %><br/>
		<%
=begin%>
 <%= link_to_if(@form_exists, "Delete Form", {action: "delete"}) %> 
<%
=end%>
	</section>
<% end %>
