<!DOCTYPE html>
<html>
<head>
  <title>Light501Project</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

  <style>
    .flash_alert { color: red; }
    .flash_notice { color: blue; }
    .flash_success { color: green; }
  </style>
</head>

<body>
<!-- Header with Navigation -->
<header class="bg-maroon text-white">
  <div class="header-container">
    <!-- First Row: Dashboard Links -->
    <div class="d-flex justify-content-end px-3">
      <% if member_signed_in? %>
        <ul class="nav-top">
          <li class="nav-item">
            <%= link_to 'My Dashboard', member_dashboard_path, class: 'nav-link-special' %>
          </li>
          <li class="nav-item">
            <%= link_to 'Admin Dashboard', events_path, class: 'nav-link-special' %>
          </li>
          <li class="nav-item">
            <%= link_to 'Sign Out', destroy_member_session_path, method: :delete, class: 'nav-link-special' %>
          </li>
        </ul>
      <% else %>
        <ul class="nav">
          <li class="nav-item">
            <%= button_to member_google_oauth2_omniauth_authorize_path, class: "nav-link-special", method: :post, data: { turbo: "false" } do %>
              <i class="fab fa-google"></i><span>&nbsp;Login with Google</span>
            <% end %>
          </li>
        </ul>
      <% end %>
    </div>

    <!-- Second Row: Logo and Main Navigation Links -->
    <div class="d-flex align-items-center px-3">
      <!-- Left-aligned Logo spanning both rows -->
      <%= image_tag "BOLD_Logo.jpg", alt: "Logo", class: "logo mr-4" %>

      <!-- Navigation Links that Stretch Across the Remaining Space -->
      <ul class="nav flex-grow-1 justify-content-between">
        <li class="nav-item">
          <%= link_to 'Home', root_path, class: 'nav-link text-white' %>
        </li>
        <li class="nav-item">
          <%= link_to 'Media', media_path, class: 'nav-link text-white' %>
        </li>
        <li class="nav-item">
          <%= link_to 'Events', home_event_path, class: 'nav-link text-white' %>
        </li>
        <li class="nav-item">
          <%= link_to 'Featured', featured_path, class: 'nav-link text-white' %>
        </li>
        <li class="nav-item">
          <%= link_to 'About Us', about_path, class: 'nav-link text-white' %>
        </li>
      </ul>
    </div>
  </div>
</header>



  <!-- Flash Messages -->
  <div class="container">
    <% if flash.any? %>
      <% flash.each do |key, value| %>
        <section class="flash flash_<%= key %>"><%= value.html_safe %></section>
      <% end %>
    <% end %>
  </div>

  <!-- Main Content Area -->
  <div class="container">
    <%= yield %>
  </div>

  <!-- Footer -->
  <footer class="text-white py-5" style="background-color: #500000;">
    <div class="container text-center">
      <div class="row">
        <div class="col">
          <h3>Get in Touch!</h3>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <a href="mailto:info.boldrso@gmail.com" class="btn btn-primary">Email: info.boldrso@gmail.com</a>
        </div>
        <div class="col">
          <a href="https://www.linkedin.com/company/boldrso" class="btn btn-primary">LinkedIn: BOLD on LinkedIn</a>
        </div>
      </div>
      <div class="text-muted mt-4">2024 Texas A&M University</div>
    </div>
  </footer>

</body>
</html>
