<%= render "header"%>
<%= render "member_header"%>

<h1>My Account Information </h1>

<div class="header row">
    <div class="col">
        <p><strong>Email</strong></p>
        <p class="border rounded border-1 border-dark p-1"><%= account.email %> </p>
    </div>
    <div class="col">
        <p><strong>Network Expiration</strong></p>
        <p class="border rounded border-1 border-dark p-1"><%= account.email %> </p>
    </div>
    <div class="col">
        <p><strong>Constitution Expiration</strong></p>
        <p class="border rounded border-1 border-dark p-1"><%= account.email %> </p>
    </div>
</div>

<div class="header row"
    <p><strong>Actions</strong></p>
</div>

<div class="header row"
    <div class="col">
        <button>Request Network Access</button>
    </div>
    <div class="col">
        <button>Request Constitution Access </button>
    </div>
</div>

